/*  HERO SECTION STARTS HERE  */

.container-hero .large-header {
	background: url('https://user-images.githubusercontent.com/70313065/216786169-08619210-a126-4bc0-9109-14ee94287faa.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);  
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: fadeIn 1s ease-in-out 1 normal forwards;
}

#headerBtn {
    background-color: white;
    padding: 10px 20px;
    width: 200px;
    font-size: 22px;
    margin-top: 50px;
	background: transparent;
	border: 2px solid #f9f1e9;
	text-decoration: none;
	color:white;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	outline: none;
	animation: btnFadeIn 1s ease-in-out 1 normal forwards;
}

.main-title a{
	text-decoration: none;
	color: white;
}
	
#headerBtn:hover {
    background-color: #44bccc;
    border: #44bccc 2px solid;
}

#arrow {
	font-size:20px;
	margin-left:15px;
	transition: transform 0.5s ease-in-out;
}

#headerBtn:hover #arrow {
	transform: rotate(90deg);
}

/*********key-frames***************/


@keyframes btnFadeIn {
	0% {
		opacity: 0.5;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/************media******************/

@media only screen and (max-width: 768px) {
	.demo .main-title {
		font-size: 3em;
	}
}
